<%- include('../partials/_header.ejs') %>

<div class="container">
  <form action="/admin/student/add" method="post">
    <div class="form-group">
      <label for="promo">Promotion :</label>
      <select name="promo" id="promo">

        <% for (promo of promos) { %>
          <option value="<%= promo.id %>"><%= promo.name %></option>
        <% } %>

      </select>
    </div>

    <div class="form-group">
      <label for="first_name">Prénom :</label>
      <input type="text" name="first_name" id="first_name" placeholder="Prénom">
    </div>

    <div class="form-group">
      <label for="last_name">Nom :</label>
      <input type="text" name="last_name" id="last_name" placeholder="Nom">
    </div>

    <div class="form-group">
      <label for="github_username">Pseudo Github :</label>
      <input type="text" name="github_username" id="github_username" placeholder="Pseudo Github">
    </div>

    <div class="form-group">
      <input type="submit" value="Ajouter" class="button button-green">
    </div>

  </form>
</div>

<%- include('../partials/_footer.ejs') %>