<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tromb d'O</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="navbar">
        <a href="/" class="brand">&#127746; Tromb d'O</a>
        <a href="/">Liste des promos</a>
        <a href="/students">Liste des étudiants</a>
    </div>
    <div class="container">